<div id="header" class="full-width"></div>
<div class="overview-wrapper">
    <div id="search" class="full-width"></div>
    
    <div id="listOfNotes" class="overview-list-of-notes"></div>
</div>

<style>
    .overview-wrapper {
        padding: 15px;
        width: calc(100% - 30px);
        max-width: 600px;
        margin: 0 auto;
        height: 100%;
    }

    .overview-add-new-note {
        margin: 10px 0;
    }

    .overview-list-of-notes {
        height: calc(100% - 50px);
        overflow: auto;
    }
</style>