<div id="header" class="full-width"></div>
<div class="wrapper">
    <div class="row">
        <div class="col three-large three-medium three-small">
            <button class="button white-text blue-grey full-width button-padding-ajdust" onclick="Benote.goToOverview()">
                <i class="material-icons overview-icon-height">keyboard_backspace</i>
            </button>
        </div>
        <div class="col three-large three-medium three-small">
        </div>
        <div class="col three-large three-medium three-small">
            <input type="button" class="button  white-text blue-grey full-width" onclick="Benote.bemu.toggleDialog('confirm-delete-dialog')" value="Delete note">
        </div>
        <div class="col three-large three-medium three-small">
            <input type="button" class="button  white-text blue-grey full-width" onclick="Benote.bemu.toggleSideNav()" value="All notes">
        </div>
    </div>
    <div id="content" class="margin-top-15 margin-sides-10 content">
        <div class="note-area">
                    <small class="input-label">Note title</small>
                    <input type="text" placeholder="Note title" id="benote-note-title" class="benote-search input" >

                    <small class="input-label">Content</small>
                
                <textarea class="input" id="benote-note-text"></textarea>
  
        </div>
    </div>
</div>
<div class="sidenav sidenav-hidden" id="all-notes-singless">
    <div class="sidenav-header darker-2 blue-grey"> <img src="logo.png" alt="" class="sidenav-logo">
        <div class="sidenav-header-info white-text">
            <h3>Benote</h3>
            <h5>Take a note</h5> </div>
        
    </div>
    <div class="sidenav-content" id="benote-sidenav-content">
            <input type="button" class="button full-width white" onclick="Benote.bemu.toggleSideNav()" value="Close Side Nav">
            
            <input type="button" class="button full-width white" value="Home">
            <input type="button" class="button full-width white" value="About">
            <input type="button" class="button full-width white" value="Profile">
            <input type="button" class="button full-width white" value="Settings">
            <input type="button" class="button full-width white" value="Logout">
        </div>
</div>

<div class="popup-dialog dialog-hidden narrow" id="confirm-delete-dialog">
        <div class="dialog-header blue-grey darker-1 white-text">
            <h3 class="dialog-title">Are you sure?</h3>
            <a onclick="Benote.bemu.toggleDialog('confirm-delete-dialog')" class="close-dialog">
                <i class="material-icons noselect">close</i>
            </a>
        </div>
        <div class="dialog-content">
            <p>This action cannot be undone.</p>
            <div class="row">
                <div class="col six-large six-medium six-small">
                    <button class="button white-text blue-grey darker-1 full-width" 
                        onclick="Benote.bemu.toggleDialog('confirm-delete-dialog')">Cancel</button>
                </div>
                <div class="col six-large six-medium six-small">
                    <button class="button white-text blue-grey darker-1 full-width" 
                        onclick="Benote.bemu.toggleDialog('confirm-delete-dialog');Benote.notes.delete(Benote.getIdOfOpenNote())">Delete</button>
                </div>
            </div>
        </div>
    </div>



<style>
    .container {
        height: calc(100% - 115px);
    }
    .content {
        height: calc(100% - 130px);
    }
    .note-area {
        height: 100%;
        width: calc(100% - 20px);
        padding: 0 10px;
    }
    .note-texte-area-parent {
        height: calc(100% - 68px);
    }
    #benote-note-text {
        overflow: auto;
        height: calc(100% - 45px);
        max-height: 100%;
        resize: none;
    }

    .overview-icon-height {
        font-size: 20px;
    }

    .button-padding-ajdust {
        padding: 7px 15px !important;
    }
</style>