<div id="header" class="full-width"></div>
<div class="wrapper">
    <div class="row">
        <div class="col three-large three-medium three-small">
            <input type="button" class="button  white-text blue-grey full-width" onclick="Benote.goToOverview()" value="Overview">
        </div>
        <div class="col three-large three-medium three-small">
            <input type="button" class="button  white-text blue-grey full-width" onclick="Benote.notes.create()" value="Add note">
        </div>
        <div class="col three-large three-medium three-small">
            <input type="button" class="button  white-text blue-grey full-width" onclick="Benote.notes.delete(Benote.getIdOfOpenNote())" value="Delete note">
        </div>
        <div class="col three-large three-medium three-small">
            <input type="button" class="button  white-text blue-grey full-width" onclick="Benote.bemu.toggleSideNav()" value="All notes">
        </div>
    </div>
    <div id="content" class="margin-top-15 margin-sides-10 content">
        <div class="note-area">
                    <small class="input-label">Note title</small>
                    <input type="text" placeholder="Note title" id="benote-note-title" class="benote-search input" >

                    <small class="input-label">Content</small>
                
                <textarea class="input" id="benote-note-text"></textarea>
  
        </div>
    </div>
</div>

<ul class="sissadenav" id="all-notes-single" style="display: none"></ul>
<div class="sidenav sidenav-hidden" id="all-notes-singless">
    <div class="sidenav-header darker-2 blue-grey"> <img src="images/logo.png" alt="" class="sidenav-logo">
        <div class="sidenav-header-info white-text">
            <h3>@Mustajbasic</h3>
            <h5>Belmin Mustajbašić</h5> </div>
        <div class="sidenav-content">
            <input type="button" class="button full-width white" value="Home">
            <input type="button" class="button full-width white" value="About">
            <input type="button" class="button full-width white" value="Profile">
            <input type="button" class="button full-width white" value="Settings">
            <input type="button" class="button full-width white" value="Logout">
            <input type="button" class="button full-width white" onclick="Benote.bemu.toggleSideNav()" value="Close Side Nav">
        </div>
    </div>
</div>





<style>
    .container {
        height: calc(100% - 115px);
    }
    .content {
        height: calc(100% - 130px);
    }
    .note-area {
        height: 100%;
        width: calc(100% - 20px);
        padding: 0 10px;
    }
    .note-texte-area-parent {
        height: calc(100% - 68px);
    }
    #benote-note-text {
        overflow: auto;
        height: calc(100% - 45px);
        max-height: 100%;
        resize: none;
    }
</style>